<!-- ===== Start of menu ======= -->
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="box">
                <div class="scroll">
                    <div class="list-Name">
                        <h2>Preferences</h2>
                        <div class="bod"></div>
                    </div>
                    <div class="d-flex" routerLink="/setting/timesheet-preferences">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Timesheet Preferences</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/expense-preferences">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Expense Preferences</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/approval-workflow">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Approval Workflow</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/overtime-rules">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Overtime Rules</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/dcaa-compliance">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">DCAA Compliance</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/email-Preferences">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Email Preferences</h2>
                    </div>

                    <div class="list-Name">
                        <h2>Account Setting</h2>
                        <div class="bod"></div>
                    </div>

                    <div class="d-flex" routerLink="/setting/company-info">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Company Info</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/Customize">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Customize</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/data-tools">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Data Tools</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/advanced-options">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Advanced Option</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/apps">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Apps</h2>
                    </div>

                    <div class="list-Name">
                        <h2>User</h2>
                        <div class="bod"></div>
                    </div>

                    <div class="d-flex" routerLink="/setting/roles-preferences">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Roles Preferences</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/employee-type">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Employee Type</h2>
                    </div>


                    <div class="list-Name">
                        <h2>Billing & Invoice</h2>
                        <div class="bod"></div>
                    </div>

                    <div class="d-flex" routerLink="/setting/invoice-rules">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Invoice Rules</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/invoice-template">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Invoice Template</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/ratesheet-list">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Ratesheet list</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/billing-rate">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Billing Rate</h2>
                    </div>

                    <div class="d-flex" routerLink="/setting/Payment-terms">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">payment Terms</h2>
                    </div>

                    <div class="d-flex">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Sels Tex Items</h2>
                    </div>

                    <div class="d-flex">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Sales Tex Group</h2>
                    </div>

                    <div class="d-flex">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Seles Rep</h2>
                    </div>

                    <div class="d-flex">
                        <mat-icon>circle</mat-icon>
                        <h2 class="preh1">Packages</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===== End of menu ======= -->