<div class="container-fluid">
    <div class="d-flex justify-content-between Account">
        <h1 class="List">Company Info</h1>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
            <h2>Display Name</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>Company Name</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>Contact No</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>Email ID</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>Billing Email ID</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>User ID</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>Time Zone</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>Company Logo</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>

        <div class="col-lg-4">
            <h2>Display Name</h2>
        </div>

        <div class="col-lg-4">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="">
            </mat-form-field>
        </div>

        <div class="col-lg-4">
        </div>
    </div>
</div>