.List {
    font-size: 31px;
    font-weight: 500;
    color: #525252;
    position: relative;
    top: 7px;
}

.Account {
    background-color: #EEF2F5;
    padding: 0.7rem;
    display: flex;
    align-items: center;
}

.Frequency-h3 h3 {
    border-bottom: 1px solid rgb(107, 105, 105);
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    font-size: 17px;
    font-weight: 500;
}


.mat-radio-button {
    margin-bottom: 1rem;
}