<div class="container-fluid">
    <div class="d-flex justify-content-between Account">
        <h1 class="List">Advanced Option</h1>
    </div>

    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">Timesheet</h3>
    </div>
    <div>
        <p class="m-0"><mat-checkbox> Let Approver allocate overtime</mat-checkbox></p>
        <p class="px-4">With this option the approver can allocate overtime to projects either proportionally or at
            their own discretion</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Show weekends in a different color</mat-checkbox></p>
        <p class="px-4">The week view of timesheet will show weekend days in a different color</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Use class based task assignment</mat-checkbox></p>
        <p class="px-4">With this option you can assign tasks to Employees based on their Class</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Submit partial timesheet</mat-checkbox></p>
        <p class="px-4">Allow user to select and submit time for the week</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Let Approver allocate overtime</mat-checkbox></p>
        <p class="px-4">With this option the approver can allocate overtime to projects either proportionally or at
            their own discretion</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Edit timesheet using week view</mat-checkbox></p>
        <p class="px-4">When an approver or admin edits a timesheet, they will see the week view of timesheet instead of
            the day view
        </p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Allow attachment to timesheets</mat-checkbox></p>
        <p class="px-4">Allow employees to attach document and receipts to time enteries</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Pre-fill timesheets</mat-checkbox></p>
        <p class="px-4">With this option the timesheet will be pre-filled with assigned projects</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Time Off Management</mat-checkbox></p>
    </div>

    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">Expense</h3>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Excel file as receipts</mat-checkbox></p>
        <p class="px-4">Allow user to upload an excel file as a receipt</p>
    </div>

    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">General</h3>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Show whatsup dashboard</mat-checkbox></p>
        <p class="px-4">The whatsup dashboard that gives you an insight into what your team is upto</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Do not send Daily Reminder if employee has entered some hours for the day
            </mat-checkbox></p>
    </div>

    <div class="mt-3">
        <p class="m-0"><mat-checkbox> Do not send reminder on due date if employees have submitted time for that period
            </mat-checkbox></p>
    </div>

    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">BambooHR</h3>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Block time off entry</mat-checkbox></p>
        <p class="px-4">Do not allow employees to enter or edit time off in TimeRewards</p>
    </div>

    <div class="mt-4">
        <p class="m-0"><mat-checkbox> Import requested time off</mat-checkbox></p>
        <p class="px-4">Import requested time off along with Approved time off</p>
    </div>


    <div class="mt-4">
        <h3 class="px-4">Link TimeRewards Class</h3>
    </div>

    <div class="mat-radio-button">
        <div class="">
            <mat-radio-button value="1"> Import BambooHR departments to TimeRewards classes </mat-radio-button>
        </div>

        <div class="">
            <mat-radio-button value="1"> Import BambooHR Divisions to TimeRewards classes </mat-radio-button>
        </div>

        <div class="">
            <mat-radio-button value="1"> Do not import BambooHR department/divisions and instead use classes of
                TimeRewards
            </mat-radio-button>
        </div>

        <div class="">
            <p class="m-0"><mat-checkbox> Convert days to hours at Employee level</mat-checkbox></p>
            <p class="px-4">When time off days are requested in BambooHR, you can convert them into hours based on
                Employee work day
            </p>
        </div>

        <div class="">
            <p class="m-0"><mat-checkbox> Import BambooHR managers as TimeRewards approver</mat-checkbox></p>
        </div>
    </div>

    