<div class="">
    <div class="info-h1">
        <h1>Activity info</h1>
    </div>
</div>

<div class="container">
    <div class="checkbox">
        <mat-checkbox class="example-margin">Activity</mat-checkbox>
    </div>
</div>


<div class="container">
    <div class="col-lg-12">
        <form [formGroup]="addForm" (submit)="Datasubmit()">
            <div class="row mt-3">
                <div class="col-lg-2">
                    <h3 class=" text-center mt-2">Task</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="" appearance="outline">
                        <mat-label>task</mat-label>
                        <input matInput placeholder="" formControlName="task" required>
                        <mat-error *ngIf="!addForm.controls['task'].valid && addForm.controls['task'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <h3 class="mt-2">Sub items of</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl formControlName="Choose">
                            <option value="" selected></option>
                            <option value="volvo">Volvo</option>
                            <option value="saab" disabled>Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                        <mat-error *ngIf="!addForm.controls['Choose'].valid && addForm.controls ['Choose'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-2">
                    <h3 class=" text-center mt-2">Task Type</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl formControlName="type">
                            <option value="" selected></option>
                            <option value="volvo">Volvo</option>
                            <option value="saab" disabled>Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                        <mat-error *ngIf="!addForm.controls['type'].valid && addForm.controls['type'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <h3 class="mt-2">Account</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl formControlName="Volvo" required>
                            <option value="" selected></option>
                            <option value="volvo">Volvo</option>
                            <option value="saab" disabled>Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                        <mat-error *ngIf="!addForm.controls['Volvo'].valid && addForm.controls['Volvo'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-2">
                    <h3 class=" text-center mt-2">Description</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput placeholder="" formControlName="Description">
                        <mat-error *ngIf="!addForm.controls['Description'].valid && addForm.controls['Description'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <h3 class="mt-2">Billable</h3>
                </div>
                <div class="col-lg-4">
                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2"></mat-checkbox>
                    </div>
                </div>

                <div class="col-lg-2">
                    <h3 class=" text-center mt-2">Class</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose an option</mat-label>
                        <select matNativeControl formControlName="select"required>
                            <option value="" selected></option>
                            <option value="volvo">Volvo</option>
                            <option value="saab" disabled>Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                        <mat-error *ngIf="!addForm.controls['select'].valid && addForm.controls['select'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <h3 class="mt-2">Taxable</h3>
                </div>
                <div class="col-lg-4">
                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2"></mat-checkbox>
                    </div>
                </div>

                <div class="col-lg-2">
                    <h3 class=" text-center mt-2">Cost Rate</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput placeholder="" formControlName="Rate">
                        <mat-error *ngIf="!addForm.controls['Rate'].valid && addForm.controls['Rate'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <h3 class="mt-2">Bill Rate</h3>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-3">
                        <mat-form-field class="" appearance="outline">
                            <mat-label></mat-label>
                            <input matInput placeholder="" formControlName="Bill">
                            <mat-error *ngIf="!addForm.controls['Bill'].valid && addForm.controls['Bill'].touched">
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-2">
                    <h3 class=" text-center mt-2">Taxrate</h3>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="" appearance="outline">
                        <mat-label></mat-label>
                        <input matInput placeholder="" formControlName="Taxrate">
                        <mat-error *ngIf="!addForm.controls['Taxrate'].valid && addForm.controls['Taxrate'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="">
                <div class="border my-2"></div>
                <div class="d-flex justify-content-between">
                    <button mat-raised-button mat-button mat-dialog-close>Cancel</button>
                    <div class="btn-button">
                        <button class="mx-3" type="submit" mat-raised-button color="">Save & Close</button>
                        <button mat-raised-button color="">Save & New</button>
                    </div>
                </div>
            </div>
        </form>
    </div>