<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="nav">
                    <h1>Approval Workflow</h1>
                </div>
                <div class="">
                    <p>Select below who will approve Employee time, expenses, and time off. If an approver is selected, you will then be directed to assign an approver.</p>
                </div>
                <div class="Frequency-h3">
                    <h3 class="text-danger">Timesheet</h3>
                </div>

                <div class="">
                    <p><b>Employee's time must first be approved by</b></p>
                </div> 
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">None</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="my-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Employee's Manager </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Project's Manager</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="pt-3">
                    <p><b>Employee's time off must first be approved by</b></p>
                </div> 
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">None</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="my-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Employee Manager</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="">
                    <p><b>Multilevel Approver</b></p>
                    <a href="">Assign Multilevel Approver for Timesheet</a>
                </div> 
                
                <div class="Frequency-h3 pt-3">
                    <h3 class="text-danger">Expense</h3>
                </div>
                <div class="pt-3">
                    <p><b>Employee's expense must first be approved by</b></p>
                </div> 
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">None</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="my-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Employee Manager</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="my-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Project Manager</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="pt-3">
                    <p><b>Multilevel Approver</b></p>
                    <a href="">Assign Multilevel Approver for Expense</a>
                </div>
            </div>
        </div>
    </div>
</section>