<div class="container-fluid">
    <div class="d-flex justify-content-between Account">
        <h1 class="List">Customize</h1>
    </div>

    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">Change Terminology</h3>
    </div>

    <div class="row">
        <div class="col-lg-3">
        </div>

        <div class="col-lg-3">
            <p>Singular</p>
        </div>

        <div class="col-lg-3">
            <p>Plural</p>
        </div>

        <div class="col-lg-3">
            <p></p>
        </div>

        <div class="col-lg-3">
            <h2>Employee</h2>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Employee">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Employees">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
        </div>

        <div class="col-lg-3">
            <h2>Customer</h2>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Customer">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Customers">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
        </div>

        <div class="col-lg-3">
            <h2>Project</h2>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Project">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Projects">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
        </div>

        <div class="col-lg-3">
            <h2>Task</h2>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Task">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Tasks">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
        </div>

        <div class="col-lg-3">
            <h2>Class</h2>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Class">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
            <mat-form-field class="d-block" appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Class">
            </mat-form-field>
        </div>

        <div class="col-lg-3">
        </div>
    </div>


    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">Approver signature label</h3>
    </div>
    <div class="col-lg-3">
        <mat-form-field class="d-block" appearance="outline">
            <mat-label></mat-label>
            <input matInput placeholder="customer approval">
        </mat-form-field>
    </div>

    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">Date Format</h3>
    </div>

    <div class="col-3">
        <select class="form-select">
            <option selected disabled value="">INR</option>
            <option>USD</option>
            <option>GBD</option>
            <option>CAD</option>
            <option>HKD</option>
            <option>ISK</option>
            <option>PHP</option>
            <option>DKK</option>
        </select>
    </div>

    <div class="Frequency-h3 my-3">
        <h3 class="text-danger">Customize</h3>
    </div>

</div>
