<div class="p-3">
    <h1>Change Password</h1>
    <hr>
    <form [formGroup]="changePwdForm" (ngSubmit)="changeData()">
        <mat-form-field class="d-block" appearance="outline">
            <mat-label>New Password</mat-label>
            <div class="d-flex">
                <input type="password" matInput placeholder="Enter here " formControlName="newpassword" required />
            </div>
        </mat-form-field>
        <mat-form-field class="d-block" appearance="outline">
            <mat-label>Create Password</mat-label>
            <div class="d-flex">
                <input type="password" matInput placeholder="Enter here " formControlName="password" required />
            </div>
        </mat-form-field>
        <div class="button text-center">
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>