
::ng-deep .mat-dialog-container{
    padding: 5px;
}
.password{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
.password h3{
        margin: -25px 10px 0px 10px;
}