<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="nav">
                    <h1>Timesheet Preferences</h1>
                </div>
                <div class="Frequency-h3">
                    <h3 class="text-danger">Timesheet Frequency</h3>
                </div>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Weekly</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="my-4">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Bi - Weekly</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1"> Semi -Monthly</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class=" week-h1 my-4">
                    <h1>Last Day of Week</h1>
                    <div class="col-2">
                        <select class="form-select">
                            <option selected disabled value="">Sunday</option>
                            <option>Sunday</option>
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                        </select>
                    </div>
                </div>

                <!-- ===== Time Off ====== -->
                <div class="Frequency-h3">
                    <h3 class="text-danger">Time Off</h3>
                </div>
                <div class="row">
                    <div class="col-md-3 holiday-list ">
                        <div class="pl-0">
                            <h2>Holiday</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list border border-dark">
                        <div class="pl-0">
                            <h2>Holiday</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list text-center">
                        <div class="checkbox">
                            <mat-checkbox class="example-margin"> Show in Timesheets</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 holiday-list">
                        <div class="pl-0">
                            <h2>Vacation</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list border border-dark">
                        <div class="pl-0">
                            <h2>Vacation</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list text-center">
                        <div class="checkbox">
                            <mat-checkbox class="example-margin"> Show in Timesheets</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 holiday-list">
                        <div class="pl-0">
                            <h2>Sick</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list border border-dark">
                        <div class="pl-0">
                            <h2>Sick</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list text-center">
                        <div class="checkbox">
                            <mat-checkbox class="example-margin"> Show in Timesheets</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 holiday-list">
                        <div class="pl-0">
                            <h2>Custom1</h2>
                        </div>
                    </div>

                    <div class="col-md-3  holiday-list border border-dark">
                        <div class="pl-0">
                            <h2>Bereavement</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list text-center">
                        <div class="checkbox">
                            <mat-checkbox class="example-margin"> Show in Timesheets</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 holiday-list">
                        <div class="pl-0">
                            <h2>Custom2</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list border border-dark">
                        <div class="pl-0">
                            <h2>Overtime</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list text-center">
                        <div class="checkbox">
                            <mat-checkbox class="example-margin"> Show in Timesheets</mat-checkbox>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 holiday-list">
                        <div class="pl-0">
                            <h2>Custom3</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list border border-dark">
                        <div class="pl-0">
                            <h2>Jury Duty</h2>
                        </div>
                    </div>

                    <div class="col-md-3 holiday-list text-center">
                        <div class="checkbox">
                            <mat-checkbox class="example-margin"> Show in Timesheets</mat-checkbox>
                        </div>
                    </div>

                    <div class="">
                        <a class="text-decoration-none" href="#">Setup Holidays</a>
                    </div>
                </div>
                <!-- ===== End Time Off ====== -->


                <!-- ====== Timesheet Layout ====== -->
                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Timesheet Layout</h3>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, corporis quas? Earum?</p>
                <div>
                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2">Show Task</mat-checkbox>
                    </div>

                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2">Show Start/End Time</mat-checkbox>
                    </div>

                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2">Show Descripition in Week View</mat-checkbox>
                    </div>

                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2">Show Timesheet Grid in Week View</mat-checkbox>
                    </div>

                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2">Show PO Number</mat-checkbox>
                    </div>

                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2">Show Payroll Item</mat-checkbox>
                    </div>

                    <div>
                        <a class="text-decoration-none" href="#">Click to show hide timeoff section At Employee type
                            Level</a>
                    </div>

                    <div class="Frequency-h3 mt-3">
                        <h3 class="text-danger">Description</h3>
                    </div>

                    <h4>While entering time</h4>
                    <div class="">
                        <mat-checkbox class="example-margin-2">Copy Task Description to Timesheet
                            Description</mat-checkbox>
                    </div>

                    <div class="Frequency-h3 mt-3">
                        <h3 class="text-danger">Classes</h3>
                    </div>

                    <div class="">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe placeat, pariatur laborum
                            ratione tenetur dolorum iste quasi sequi alias accusantium. Lorem ipsum dolor sit, amet
                            consectetur adipisicing elit. Mollitia, cumque.</p>
                        <div class="">
                            <mat-checkbox class="example-margin-2">Show Classes on Timesheets</mat-checkbox>
                        </div>
                        <p>(This will let your users choose this while entering timesheet if you wish to apply Classes
                            based on preferences in Setting - <a class="text-decoration-none" href="#">Class allocation
                                rules</a> then you can leave this unchecked ) </p>
                    </div>
                </div>
                <!-- ====== End Timesheet Layout ====== -->


                <!-- ===== Bill Project for time =====-->
                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Bill Project for time</h3>
                </div>
                <div class="">
                    <p>Indicate whether you want hours on timesheets to always be Billable to Customers , or
                        Non-Billable. Specify whether you want this checkbox to be visible to Employees timesheets
                        (giving them the option to change the billable status) or hide from timesheets. You can
                        further customize these options under Use Rules</p>
                    <h2>Default Billable Status</h2>
                    <div>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1"> Billable </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="my-4">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1"> Non Billable </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Use Rules</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <p class="mt-3">This will auto populate the billable value based on Project or Service Item</p>
                    <div class="checkbox">
                        <mat-checkbox class="example-margin-2"> Allow User to edit this</mat-checkbox>
                    </div>
                </div>
                <!-- ===== Bill Project for time =====-->


                <!-- ===== submit time ===== -->
                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Submit Time</h3>
                </div>

                <div class="">
                    <p>Make following mandatory to submit time:</p>
                    <div class="">
                        <mat-checkbox class="example-margin-2">Projects</mat-checkbox>
                    </div>

                    <div class="">
                        <mat-checkbox class="example-margin-2">Tasks</mat-checkbox>
                    </div>

                    <div class="">
                        <mat-checkbox class="example-margin-2">Classes</mat-checkbox>
                    </div>

                    <div class="">
                        <mat-checkbox class="example-margin-2">Description</mat-checkbox>
                    </div>

                    <div class="">
                        <mat-checkbox class="example-margin-2">Payroll Item</mat-checkbox>
                    </div>

                    <div class="">
                        <mat-checkbox class="example-margin-2">Enforce that start time and end time do not overlap
                        </mat-checkbox>
                    </div>
                </div>
                <!-- ===== End submit time ===== -->

                <!-- Approver Permission -->

                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Approver Permission</h3>
                </div>

                <div class="">
                    <p>Indicate whether approvers can make changes to Employees Timesheets</p>
                    <div class="">
                        <mat-checkbox class="example-margin-2">Allow approver to edit timesheet</mat-checkbox>
                    </div>
                </div>

                <!-- End Approver Permission -->

                <!-- Missing Timesheet Report -->

                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Missing Timesheet Report</h3>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-lg-6"><mat-checkbox class="example-margin-2">Use Minimum Hours at Employee Level</mat-checkbox></div>
                        <div class="col-lg-6"><a href="">Set Hours</a></div>
                    </div>
                    <div class="">
                        <mat-checkbox class="example-margin-2">Minimum Expected Hours Per Period</mat-checkbox>
                    </div>
                    <div class="">
                        <mat-checkbox class="example-margin-2">Do not show Employees who have completed minimum expected
                            hours</mat-checkbox>
                    </div>
                </div>

                <!-- End Missing Timesheet Report -->
                <!-- Timer Options -->

                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Timer Options</h3>
                </div>

                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-6">
                                <mat-checkbox class="example-margin-2">Show Timer</mat-checkbox>
                            </div>
                            <div class="col-lg-6">
                                <a href="">Set at Employee Level</a>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <h1>Timer Interval</h1>
                            </div>
                            <div class="col-lg-6">
                                <p>minutes (between 0-60)</p>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <mat-checkbox class="example-margin-2">Allow user to pause time</mat-checkbox>
                    </div>
                    <div class="">
                        <mat-checkbox class="example-margin-2">Allow multiple timers to run at the same
                            time</mat-checkbox>
                    </div>
                    <div class="">
                        <mat-checkbox class="example-margin-2"> Show multiple timer in timer widget </mat-checkbox>
                    </div>
                </div>

                <!-- End Timer Options -->
                <!-- Block Options -->

                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Block Options</h3>
                </div>

                <div class="">
                    <div class="">
                        <p>With this option you can block old timesheets from being modified.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>Block Timesheet</h1>
                        </div>
                        <div class="col-lg-6">
                            <a href="">Set Rules</a>
                        </div>
                    </div>
                </div>

                <!-- End Block Options -->
                <!-- Recycle Bin -->

                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Recycle Bin</h3>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>With this option you can restore your deleted timesheet.</p>
                        </div>
                        <div class="col-lg-6">
                            <a href="">Restore Timesheet</a>
                        </div>
                    </div>
                </div>

                <!-- End Recycle Bin -->
                <!-- Value Pricing -->

                <div class="Frequency-h3 mt-3">
                    <h3 class="text-danger">Value Pricing</h3>
                </div>

                <div class="">
                    <mat-checkbox class="example-margin-2">Show ToDo</mat-checkbox>
                </div>

                <!-- End Value Pricing -->
            </div>
        </div>
    </div>
</section>