<div class="mt-5 text-center">
  <!--  -->
  <div class="container" *ngIf="!success">
    <h2 class="text-center">Forgot Password</h2>
    <p>No worries, we'll send you reset instruction.</p>
    <div class="row">
      <form [formGroup]="password" (ngSubmit)="forgot()">
        <mat-form-field class="d-block" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="mail" id="email" matInput placeholder="Enter here " formControlName="email" required />
          <mat-icon matSuffix>email_box</mat-icon>
          <mat-error
          *ngIf="!password.controls['email'].valid && password.controls['email'].touched">
          Email is required!
      </mat-error>
        </mat-form-field>
        <div class="block">
          <button class="btn btn-primary text-white" [disabled]="password.invalid" type="submit"
            mat-button>Submit</button>
          <div class="d-flex mt-3" routerLink="/auth/login">
            <mat-icon class="icon">arrow_back</mat-icon><a>
              <p>Back to Login</p>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div *ngIf="success">
    <p class="text-success">Password reset link send to email.</p>
  </div>

</div>