<div class="container-fluid">
    <div class="d-flex justify-content-between Account">
        <h1 class="List">Email Preferences</h1>
    </div>
    <div class="my-3">
        <p>Customize email messages: Items 4-6 can also be turned on/off from the DCAA compliance section</p>
    </div>
    <h1 class="text-center">Send email</h1>
    <div class="row">
        <div class="col-lg-8">
            <h3>Email password</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Timesheet rejected</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Expense rejected</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Timesheet modified notification </h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Daily reminder to complete timesheet</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Reminder to submit timesheet on due date</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Timesheet pending approval</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Expense pending approval</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Timesheet/Expense pending approval</h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>

        <div class="col-lg-8">
            <h3>Send instant notifications to approver when employee submits his time </h3>
        </div>
        <div class="col-lg-2">
            <div class="">
                <p><mat-checkbox></mat-checkbox></p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a class="text-decoration-none" href="#">Customize</a>
            </div>
        </div>
    </div>
</div>