<div class="admin-expense-data-dialog">
    <div class="modal-content">
        <div class="modal-header border-bottom pb-2">
            <h3 class="modal-title fs-5 mb-0" id="exampleModalLabel">Projects Details</h3>
            <button type="button" class="btn-close" mat-dialog-close></button>
        </div>
        <div class="modal-body py-3">
            <mat-dialog-content class="mat-typography">
                <div class="gap-4 d-grid ">
                    <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-4">
                                <h4 for="inputCity" class="form-label  mb-0 ">Customer</h4>
                            </div>
                            <div class="col-sm-8">
                                <span>{{data.CustomerId.CustomerName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="gap-4 d-grid ">
                    <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-4">
                                <h4 for="inputCity" class="form-label  mb-0 ">Project Name</h4>
                            </div>
                            <div class="col-sm-8">
                                <span>{{data.ProjectName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="gap-4 d-grid ">
                    <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-4">
                                <h4 for="inputCity" class="form-label  mb-0 ">Start Date</h4>
                            </div>
                            <div class="col-sm-8">
                                <span>{{data.StartDate | date: 'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="gap-4 d-grid ">
                    <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-4">
                                <h4 for="inputCity" class="form-label  mb-0 ">End Date</h4>
                            </div>
                            <div class="col-sm-8">
                                <span>{{data.EndDate | date: 'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="gap-4 d-grid ">
                    <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-4">
                                <h4 for="inputCity" class="form-label  mb-0 ">Life Time Budget</h4>
                            </div>
                            <div class="col-sm-8">
                                <span>{{data.LifeTimeBudget}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="gap-4 d-grid ">
                    <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-4">
                                <h4 for="inputCity" class="form-label  mb-0 ">Project Estimation</h4>
                            </div>
                            <div class="col-sm-8">
                                <span>{{data.ProjectEstimation}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="gap-4 d-grid ">
                    <div class="col-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-sm-4">
                                <h4 for="inputCity" class="form-label  mb-0 ">Notes</h4>
                            </div>
                            <div class="col-sm-8">
                                <span>{{data.Notes}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            </mat-dialog-content>
        </div>
        <div class="modal-footer border-top">
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
            </mat-dialog-actions>
        </div>
    </div>
</div>