<h1>Mat-table with Dynamic columns</h1>
<p>
  Including: Search, Sort, Pagination, Records not found, row template,
  hightlight text on search and pipes. And show and hide columns
</p>
<hr />

<h1>Lord of the Rings Books</h1>

<div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.xs="column">
  <div fxFlex fxFlexAlign="left"></div>
  <div fxFlex>
    <form [formGroup]="searchForm">
      <mat-form-field class="form-field">
        <input
          matInput
          type="text"
          placeholder="Search for Id, Book Title"
          formControlName="searchValue"
        />
        <button
          mat-button
          *ngIf="searchForm.get('searchValue')?.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>

<button mat-button [matMenuTriggerFor]="menu">Visible columns</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let column of columns">
    <mat-checkbox class="m-5" [(ngModel)]="column.show">
      {{column.header | titlecase}}
    </mat-checkbox>
  </button>
</mat-menu>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container
      *ngFor="let column of columns, let i=index"
      [cdkColumnDef]="column.columnDef"
    >
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
        >{{ column.header }}</mat-header-cell
      >
      <mat-cell *cdkCellDef="let row">
        <span
          *ngIf="column.header === 'Id'; else normalCol"
          [class.truncate-text]="column.header === 'Id'"
          [innerHTML]="column.cell(row) | highlight: dataSource.filter"
          [matTooltip]="column.cell(row)"
        ></span>
        <ng-template #normalCol>
          <span [innerHTML]="column.cell(row) | highlight: dataSource.filter">
          </span>
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="noData">
      <mat-footer-cell
        *matFooterCellDef
        [attr.colspan]="displayedColumns.length"
      >
        <div>No records found.</div>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns | toggleColumns:columns;"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns | toggleColumns:columns;"
    ></mat-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{'hide-not-found-msg':!(dataSource !== null && dataSource.filteredData.length === 0)}"
    >
    </mat-footer-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[2, 5, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>
